/* closed list */
body #board .-list-wrapper.-closed {
    transform: rotate(90deg);
    transform-origin: 13px 1px;
    position: relative;
    height: 42px;
    left: 42px;
    width: 228px;
    margin-right: -182px;
}

.-list-wrapper.-closed .-list .-list-header {
    padding-top: 5px;
    padding-left: 13px;
}

/* hide everything in a closed list... */
.-list-wrapper.-closed .-list > :not(.-list-header) * {
    display: none !important;
}

.-list-wrapper .-list .-list-name, 
.-list-wrapper .-list .-list-name-textarea {
    padding-left: 6px !important;
}

/* we need to reduce the width of the title to fit the collapse toggle in */
.-list-wrapper .-list .-list-header-name {
    width: calc(100% - 22px);
}

/* collapsed list header - rotated + some css hackery to make it look right */
.-list-wrapper.-closed .-list .-list-header-name {
    height: 40px !important;
    width: auto;
    line-height: 30px;
    display: block !important;
    position: absolute; 
    background: transparent;
    left: 36px;
    top: 4px;
}

.ui-draggable-dragging {
    display: none !important;
}

/* collapse toggle button */
.collapse-toggle {
    display: flex;
    float: left;
    cursor: pointer;
    background: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    position: relative;
    margin-top: 5px;
}

/* collapse toggle button - triangle */
.collapse-toggle:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    position: absolute;
    top: 8px;
    left: 5px;
}

/* collapse toggle button - triangle - closed state */
.js-list.-closed .collapse-toggle:after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000;
    border-right: none;
    left: 8px;
    top: 5px;
}
